@import 'theme';

#tab{
  .state-annule{
    background: lighten($color: $color1, $amount: 10);
  }
  .state-option{
    background: $color1;
  }
  .state-confirme{
    background: $color2;
  }

  .state-actif{
    background-color: $color2;
  }
  .state-inactif{
    background-color:  $color1;
  }

  tbody > * {
    display: contents;
  }
}
