<form [formGroup] = "formulaireClient" (ngSubmit) ="submitClientForm()">


  <div class="form-group">
    <label for="clientname">Nom</label>
    <input formControlName="name" type="text" class="form-control" id="clientname" >
  </div>

  <div class="form-group">
    <label for="clientemail">Email</label>
    <input formControlName="email" type="text" class="form-control" id="clientemail" >
  </div>

  <div class="form-group">
      <label for="state">State</label>
      <select formControlName="state" id="state" class="form-control">
          <option *ngFor="let state of (states | keyvalue)" [value] = "state.value">{{state.value}}</option>
      </select>
  </div>

  <button [disabled]="formulaireClient.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
